

/* Reset CSS to ensure browser is using the correct CSS formatting  */

html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  
  ​h1,
  h2,
  h3,
  h4  
  {
    font-size: 100%;
  }