
/* add more vars  */
:root {
    --background-color: #edeef6;
    --color: #445776;
    --darker-color: #32343D; 
    --light-color: #92cacd;
    --border-color: #92cacd;
    --hover-font: #fff; 
    --hover-color: pink;
}


/* font size set. this enables easier editing */
html {
    font-size: 62.5%;
  }
  

  /* font family set  */
  /* line height set  */
  /* main background color set  */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
      font-size: 1.75rem;
    line-height: 1.5;
    color: var(--color);
    background-color: var(--background-color);
  }

  /* reduces width and centers content  */
header {
    width: 96%;
    margin: 0 auto;
    padding: 0;
    background-color: var(--darker-color);
  }

  /* creater a flex box to wrap the content of the header  */
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* h1 formatting for the header  */
header h1 {
    text-align: right;
    margin: 0.5rem 0rem 1.5rem 0;
    padding: 10px;
    background-color: var(--light-color);
    width: 300px;
    color: var(--darker-color);
    
}

/* Width of nav links  */
.link {
    width: 440px;
}


/* Displayed as a row and takes away bullet point */
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

/* formating for nav links */
.nav-a {
    color: var(--light-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    margin: 0.65rem;
    padding: 0.2rem;
    border-bottom: 2.5px solid var(--border-color);
}

/* hover formatting for nav links  */
a:hover {
    background-color: var(--hover-color);
    color: var(--hover-font);
  }


/* main background img formatting  */
.background {
    width: 96%;
    margin: 0 auto;
}

/* main background img formatting  */
/* link added  */
.background-image {
    height: 270px;
    width: 96%;
    margin-bottom: 0;
    background-image: url("../images/background.JPG") /*background image */;
    background-size: cover;
    align-items:center;
}

/* background img and text box added as a flex box  */
.container {
    display: flex;
    flex-direction: row; 
}

/* formatting to make the flex box the full width of the body  */
/* justify-content and align-items to place box in bottom corner.  */
.flex-box {
    display: flex;
    width:100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}


/* formatting for textbox. including realtive position and font size  */
.background-header {
    background-color: var(--light-color);
    margin: 0.5rem;
    padding: 0 1rem 0 1rem;
    font-size: 2.75rem;
    color: var(--darker-color);
    position: relative;
    top: -25px;
    right: 15px;
}

/* reduces width of body to fit with header  */
/* content centered   */
main {
    width: 96%;
    margin: 0 auto;
    padding: 0;
}

/* padding added to About me section  */
.section-main {
    padding: 25px 0 0 0;
}
 
/* formatting  */
.about-me-flex {
    font-size: 3rem;
    width: 25%;
    height: 100%;
    text-align: end;
    padding: 0px 10px 0 0;
    margin: 0;
}

/* About me header and paragraph made into flex box  */
.flex-box-main {
    display: flex;
    flex-direction: row;
}

/* flex box for main section  */
.flex-box-main-work {
    display: flex;
    flex-direction: row;
}

/* paragraph formatted to a column so the paragrpahs aren't side-by-side  */
.align-center {
    display: flex;
    align-items: start;
    flex: 1 0 66%;
    flex-direction: column;
}

/* boarder and padding added for formattting  */
.content-border {
    border-left: 2.5px solid var(--border-color);
    padding: 0 50px 0 25px;
}

    /* bottom margin added to paragraph  */
p {
    margin: 0 0 25px 0;
}


/* formatting for work header  */
.work-flex {
    font-size: 3rem;
    width: 25%;
    height: 100%;
    text-align: end;
    padding: 0px 10px 0 0;
    margin: 0;
    }


/* turn figure into another flex box inside another  */
.flex-box-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
    
/* flex box for background images in work section. 98% size height 33%. padding nd boarder added */
.card-column-work {
    flex: 1 0 98%;
    height: 33%;
    padding: 3px;
    border: 1px;
}

/* background img for Surf Report  */
.background-image-surf {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    background-image: url("../images/surf.JPG") /*background image */;
    background-size:cover;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

/* Hover formatting for surf img  */
.background-image-surf:hover {
    opacity: 0.5;
  }

/* siz of bacground images inside flex box to fit space  */
.content-img {
    width:66%;
    height:700px;
}

/* background img for LED  */
.background-image-led {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    background-image: url("../images/neon.jpg") /*background image */;
    background-size:auto;
    align-items:center;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    
}
/* LED img formattign  */
.background-image-led:hover {
    opacity: 0.5;
  }

  /* formatting for smaller background images  */
.small-img {
    flex: 2 0 33%;
    height: 33%;
}

/* background img for Calculator  */
.background-image-calc {
    height: 231px;
    width: 100%;
    margin-bottom: 0;
    background-image: url("../images/calculator.jpg") /*background image */;
    background-size:auto;
    align-items:center;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

/* formatting hover for calculator img  */
.background-image-calc:hover {
    opacity: 0.5;
  }

/* background img for pastel  */
.background-image-pastel {
    height: 231px;
    width: 100%;
    margin-bottom: 0;
    background-image: url("../images/pastel.jpg") /*background image */;
    background-size:auto;
    align-items:center;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

/* formatting hover for pastel img  */
.background-image-pastel:hover {
    opacity: 0.5;
  }

/* background img for Run Buddy  */
.background-image-run {
    height: 231px;
    width: 100%;
    margin-bottom: 0;
    background-image: url("../images/run-buddy.JPG") /*background image */;
    background-size:auto;
    align-items:center;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

/* formatting for Run buddy image  */
.background-image-run:hover {
    opacity: 0.5;
  }


/* padding for smaller images  */
.img-padding {
    padding: 3px ;
}

/* formatting for h3 header in Work section  */
.h3-main {
    margin: 0;
}

/* Formatting for text box inside background img. Places box slightly offset of left bottom corner  */
.info-main {
    background-color: var(--light-color);
    color: var(--darker-color);
    display: inline-block;
    position: relative;
    bottom: -130px;
    padding: 10px;
}

/* formatting for h4  */
h4 {
    font-size: 50%;
}

/* margin for section with background images. this formats to line up with the other sections */
.main-margin {
    margin: 0;
}

/* top padding for Work Section  */
.main-section-padding {
    padding: 25px 0 0 0;
}


/* Footer  */

/* Top and bottom padding  */
.footer-bottom-padding {
    padding: 50px 0 50px 0;
}

/* H1 formatting. Required to line up with other sections. */
.contact-me-footer {
    font-size: 3rem;
    width: 26%;
    height: 100%;
    text-align: end;
    padding: 0px 10px 0 0;
    margin: 0;
    
}

/* Creates flex box  */
/* places content next to each other  */
.footer-flex {
    display: flex;
    width: 66%;
    height: 250px;
    align-items: center;
    justify-content: center;
}

/* formatting for contact links  */
/* color, padding, bottom border added */
.footer-ul {
    color: var(--darker-color);
    padding: 15px;
    margin: 5px;
    border-bottom: 2px solid  var(--darker-color);
    line-height: 4rem;
    text-decoration:none ;
}


/* Media screen for different sized screen displays  */


/* for screens width max size 1050px */
  @media screen and (max-width: 1050px) {
    .footer-flex ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer-ul {
        padding: 10px;
        margin: 2px;
        font-size: 1rem;
    }
}

/* for screens width max size 1000px */
/* ensures images maintain the correct width  */
@media screen and (max-width: 1000px) {
    .content-img {
      width: auto;
    }
    }

/* for screens width max size 888px  */
/* enusres boarders line up  */
@media screen and (max-width: 888px){
    .work-flex {
        width: 27%;
        padding: 0px 8px 0 0;
    }
    }

/* for screens width max size 822px  */
@media screen and (max-width: 822px) {
    body  {
      margin: 0;
      justify-content: center;
    }

/* header adjusted  */
    .row {
        justify-content: normal;

    }

/* width of nav adjusted  */
    .link {
        width:350px;
    }

/* font size in anchor tag in nav is adjusted */
    .nav-a {
        font-size: 12px;
    }
  }
  
/* for screens width max size 788px  */  
/* enusres boarders line up  */
@media screen and (max-width: 788px){
    .work-flex {
          width: 28%;
    }
  }

/* for screens width max size 730px  */
/* enusres boarders line up  */
  @media screen and (max-width: 730px){
    .work-flex {
          width: 30%;
    }
  }

/* for screens width max size 630px  */ 
/* enusres boarders line up  */
  @media screen and (max-width: 630px){
    .work-flex {
          width: 31%;
    }
  }

/* for screens width max size 510px  */
/* enusres boarders line up  */
/* font size reduced to fit  */
  @media screen and (max-width: 510px){
    .work-flex {
          width: 34%;
    }

    h3 {
        font-size: 12px;
    }
  }


/* for screens width max size 490px  */
/* enusres boarders line up  */
  @media screen and (max-width: 490px){
    .work-flex {
          width: 38%;
    }
  }

/* for screens width max size 440px  */
/* enusres boarders line up  */
  @media screen and (max-width: 440px){
    .work-flex {
          width: 52%;
    }

    h3 {
        font-size: 8px;
    }
  }

/* for screens width max size 414px  */
/* enusres boarders line up  */
  @media screen and (max-width: 414px){
    .work-flex {
          width: 35%;
    }
}

/* for screens width max size 414px  */
/* enusres boarders line up  */
    @media screen and (max-width: 414px){
        .work-flex {
              width: 42%;
        }
}

/* for screens width max size 375px  */
/* enusres boarders line up  */
/* font sized reduced */
@media screen and (max-width: 375px){
    .work-flex {
          width: 25%;
          font-size: 1.5rem;
    }

    .contact-me-footer {
        width: 17%;
        font-size: 1.5rem;
  }

}


/* media screen footer alignment */
/* enusres boarders line up  */
@media screen and (max-width: 950px){
    .contact-me-footer {
          width: 25%;
    }
}

/* enusres boarders line up  */
@media screen and (max-width: 840px){
    .contact-me-footer {
          width: 24%;
    }
}

/* enusres boarders line up  */
@media screen and (max-width: 693px){
    .contact-me-footer {
          width: 18%;
          font-size: 2rem;
    }
}

/* enusres boarders line up  */
@media screen and (max-width: 551px){
    .contact-me-footer {
          width: 21%;
    }
}

/* enusres boarders line up  */
/* h3 and h4 reduced to fit  */
@media screen and (max-width: 470px){
    .contact-me-footer {
          width: 22%;
    }

    h3 {
        font-size: 6px;
    }

    h4 {
        font-size: 25%;
    }
}

/* enusres boarders line up  */
@media screen and (max-width: 438px){
    .contact-me-footer {
          width: 30%;
    }

}

/* enusres boarders line up  */
@media screen and (max-width: 375px){
    body {
        font-size: 1rem;
    }
    
    .about-me-flex {
        font-size: 2rem;
    }
    
    .flex-box-main-work {
        height: 700px
    }

    /* img size reduced to fit screen  */
    .content-img {
        height:735px;
    }
    
    /* flex box formatted to fit screen  */
    .card-column-work {
        flex: 1 0 85%;
        height: 20%;
        padding: 0px;
        border: 0px;
    }

    /* border reduced to fit sreen size  */
    .info-main {
        bottom: -82px;
    }

/* img reduced to fit  */
    .background-image-led {
        height: 106%;
        width: 101%;
    }
  
/* formatting for images to fit flex box */
    .small-img {
        flex: 1 0 70%;
        height: 122px;
    }

/* img reduced to fit  */
    .background-image-calc {
        height: 132px;
    }


/* img reduced to fit  */
    .background-image-pastel {
        height: 132px;
    }


/* img reduced to fit  */
    .background-image-run {
        height: 127px;
    }
}

/* media screen max width 375px  */
/* footer adjusted so boarder lines up  */
@media screen and (max-width: 375px){
    
    .contact-me-footer {
        width: 17%;
        font-size: 1.5rem;
  }

}

/* media screen max width 360px  */

@media screen and (max-width: 360px){
    /* header h1 reduced to fit smaller screen  */
    .row h1 {
        width: 200px;
        padding: 5px;
    }

    /* header reduced to fit smaller screen  */
    header {
        width: 100%;
    }

    /* background img to fit  */
    .background-image {
        width: 100%;
    }

    /* change direction of flex box to column to fit scrren  */
    .link ul {
        flex-direction: column;
    }

    /* reduce font size to fit  */
    .about-me-flex {
        font-size: 2rem;
    }
}
